
.answer {
    margin-left: 10px;
}

#inputRow {
    margin-bottom: 10px;
}

.delete-row {
    margin-top: 5px;
}


.summary {
    margin-top: 20px;
}

.summmary .row .col-sm-1 {
    margin-right: 20px;
}
